* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkslategrey;
}

#main {
    width: 100%;
    height: 100%;
    text-align: center;
}

.channel {
    font-size: 50px;
    vertical-align: middle;
    text-align: center;
}

.status {
    font-size: 30px;
    border-left: 2px solid black;
    text-align: center;
}

.count {
    font-size: 75px;
    padding-right: 5px;
    text-align: center;
    border-left: 2px solid black;
}

.pfp {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

.top_logo {
    width: 400px;
    height: auto;
    display: inline-block;
}

.splitter {
    font-size: xxx-large;
    background-color:paleturquoise;
    text-align: center;
    cursor: default;
}

thead {
    font-size: 45px;
    background-color:paleturquoise;
    padding: 5px;
}

thead th:first-child {
    border-top-left-radius: 13px;
    padding: 5px;
    border-left: 0;
}

thead th:last-child {
    border-top-right-radius: 13px;
}

thead th {
    border-left: 2px solid black;
}

table {
    max-width: 90%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 15px;
    border-spacing: 0;
    background-color:darkseagreen;
}

th, td, tr {
  margin: 0;
  border-bottom: 2px solid black;
}

table tr:last-child td{
    border-bottom: 0px;
}


tbody {
    font-size: larger;
    text-align: left;
}

#backimage {
    display: block;
    height: 75px;
    width: 75px;
    position: fixed;
}

#backbutton {
    width: 75px;
    height: 75px;
    background-color: darkseagreen;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom-right-radius: 15px;
}

#post_button {
	float: right;
	width: 25%;
	height: 45px;
	font-size: xx-large;
	display: block;
}

.upload_table_cell{
    font-size: 50px;
    vertical-align: middle;
    text-align: left;
    padding-left: 15px;
}

.upload_table_error_cell{
    font-size: 15px;
    vertical-align: middle;
    text-align: left;
    padding-left: 15px;
    word-wrap: break-all;
}

#upload_channel {
	font-size: 30px;
	width: 50%;
    min-width: 15ch;
    max-width: 30ch;
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    bottom: 6px;
}

#upload_file {
	font-size: 15px;
    margin-left: 0px;
    position: relative;
    bottom: 10px;
}

#upload_button {
	height: 100%;
	font-size: 30px;
    display: block;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}

#upload_thumbnail {
	font-size: 15px;
    margin-left: 0px;
    position: relative;
    bottom: 10px;
}

#upload_title {
	font-size: 15px;
    min-width: 15ch;
    max-width: 30ch;
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    bottom: 10px;
}
