* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: darkslategrey;
}

#main {
    width: 100%;
    height: 100%;
    text-align: center;
}

.channel {
    font-size: 50px;
    vertical-align: middle;
    text-align: center;
}

.status {
    font-size: 30px;
    border-left: 2px solid black;
    text-align: center;
}

.count {
    font-size: 75px;
    padding-right: 5px;
    text-align: center;
    border-left: 2px solid black;
}

.pfp {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}

.top_logo {
    width: 400px;
    height: auto;
    display: inline-block;
}

.splitter {
    font-size: xxx-large;
    background-color:paleturquoise;
    text-align: center;
    cursor: default;
}

thead {
    font-size: 45px;
    background-color:paleturquoise;
    padding: 5px;
}

thead th:first-child {
    border-top-left-radius: 13px;
    padding: 5px;
    border-left: 0;
}

thead th:last-child {
    border-left: 2px solid black;
    border-top-left-radius: 0px;
    border-top-right-radius: 13px;
}

thead th {
    border-left: 2px solid black;
}

table {
    max-width: 90%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 15px;
    border-spacing: 0;
    background-color:darkseagreen;
}

th, td, tr {
  margin: 0;
  border-bottom: 2px solid black;
}

table tr:last-child td{
    border-bottom: 0px;
}

tbody tr {
    cursor: pointer;
}


tbody {
    font-size: larger;
    text-align: left;
}

#adminimage {
    display: block;
    height: 75px;
    width: 75px;
    position: fixed;
}

#adminbutton {
    width: 75px;
    height: 75px;
    background-color: darkseagreen;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom-left-radius: 15px;
}

/* Sorting styles */
th.sortable {
    cursor: pointer;
    position: relative;
    user-select: none;
}

th.sortable:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

th.sortable.asc::after {
    content: " ▲";
    padding-left: 5px;
    font-size: 0.8em;
}

th.sortable.desc::after {
    content: " ▼";
    padding-left: 5px;
    font-size: 0.8em;
}
