* {
	touch-action: manipulation;
}

body {
	background-color: darkslategrey;
	font-family: Arial, Helvetica, sans-serif;
}

.divider {
	height: 50px;
}

#seektime {
	position: absolute;
	right: 100px;
	font-size: xx-large;
	top: 1220px;
	background-color: azure;
	padding: 10px;
	padding-left: 605px;
	width: 170px;
	z-index: 1;
	border-radius: 10px;
}


#prev_tstp {
	text-align: left;
	margin: 0;
	font-size: xx-large;
}

#prev_tstp span {
	background-color: azure;
	padding: 10px;
	margin: 0;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
}

#downloadbutton {
	background-color: azure;
	width: 70px;
	height: 70px;
	margin: 0;
	display: block;
	position: absolute;
	right: 270px;
	bottom: 0px;
	padding: 5px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#loopbutton {
	background-color: azure;
	width: 70px;
	height: 70px;
	margin: 0;
	display: block;
	position: absolute;
	right: 180px;
	bottom: 0px;
	padding: 5px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#boostbutton {
	background-color: azure;
	width: 70px;
	height: 70px;
	margin: 0;
	display: block;
	position: absolute;
	right: 90px;
	bottom: 0px;
	padding: 5px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

#dimbutton {
	background-color: azure;
	width: 70px;
	height: 70px;
	margin: 0;
	display: block;
	position: absolute;
	right: 0;
	bottom: 0px;
	padding: 5px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
}

#asmr {
	display:block;
	padding-bottom: 100px;
	padding-top: 50px;
	transform: scale(1.1);
}

#comments {
	max-width: 900px;
	height: auto;
	position: relative;
	border-radius: 15px;
	background-color: darkseagreen;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	padding-top: 20px;
	margin-top: 10px;
}

#description_title {
	margin-left: 20px;
	background-color: lightyellow;
	display: inline-block;
	font-size: 30px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
	top: 30px;
	margin-top: 0px;
}

#post_button {
	float: right;
	width: 25%;
	height: 45px;
	font-size: xx-large;
	display: block;
}

#name_box {
	font-size: xx-large;
	width: 50%;
}

#message_box {
	font-size: x-large;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 150px;
}

#backimage {
    display: block;
    height: 75px;
    width: 75px;
	position:fixed;
	z-index: 100;
}

#comment_form {
	margin: 10px;
	background-color: rgb(109, 168, 109);
	padding: 10px;
	border-radius: 10px;
	font-size: xx-large;
}

.comment {
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgb(109, 168, 109);
	border-radius: 10px;
	padding: 0;
	padding-top: 5px;
}

.comment_name {
	margin: 0;
	padding-top: 0;
	padding-left: 5px;
	padding-bottom: 0;
	display: inline-block;
	font-size: 30px;
	font-style: italic;
	color:darkslategray;
}

.comment_text {
	font-size: 40px;
	margin: 15px;
	margin-top: 5px;
	padding-bottom: 20px;
	overflow-wrap: break-word;
}

.delete_button {
	display: block;
	float: right;
	margin-right: 5px;
	font-size: 25px;
}

#comment_timestamp {
	font-size: 25px;
	margin-bottom: 0;
	display: inline-block;
	cursor: pointer;
	text-decoration: underline;
	color:blue;
}

#backbutton {
    width: 75px;
    height: 75px;
    background-color: darkseagreen;
    top: 0;
    left: 0;
    border-bottom-right-radius: 15px;
	cursor: pointer;
	position: fixed;
	z-index: 100;
}

.controls {
	max-width: 900px;
	margin-top: 5px;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	touch-action: manipulation;
	margin-top: 20px;
}

.separator {
	width: 30px;
	height: 20px;
	display: inline-block;
}

.button {
	width: 15%;
	font-size: 30px;
	display: inline-block;
	position: absolute;
	border-radius: 10px;
	background-color: azure;
	text-align: center;
	position: relative;
}

.playbutton {
	width: 150px;
	height: 150px;
	display: block;
	border-radius: 50%;
	margin: 5px auto;
	background-color: azure;
	position: relative;
}

#play {
	width: 50%;
	height: 50%;
	margin-top: 38px;
}

.top_logo {
    width: 400px;
    height: auto;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.description {
	display: block;
	text-align: left;
	height: 580px;
	overflow: scroll;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	padding: 10px;
	border-radius: 15px;
	background-color: rgb(109, 168, 109);
}

#player {
	max-width: 900px;
	height: auto;
	position: relative;
	border-radius: 15px;
	background-color: darkseagreen;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
	z-index: 0;
}

#dimscreen {
	z-index: 1000;
	display: block;
}

#thumbnail {
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: lightyellow;
	margin: 0;
	margin-top: 10px;
}

audio {
	display: inline-block;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

#ytimage {
    display: block;
    height: 75px;
	margin-left: 14.5%;
	z-index: 100;
}

#ytbutton {
    width: 75px;
    height: 75px;
    background-color: darkseagreen;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom-left-radius: 15px;
	z-index: 100;
}